# Ignore everything
*
# but not these ones
!.gitignore
!README.md
!__init__.py
!tutorial

# Ignore everything
tutorial/*
# but not these ones
!tutorial/Tessutils_slides_and_tutorial.mp4
!tutorial/Tessutils_tutorial.ipynb
!tutorial/figures

# Ignore everything
tessutils/*
# but not these ones
!tessutils/plots.py
!tessutils/reduction.py
!tessutils/utils.py

# Ignore everything
tutorial/figures/*
# but not these ones
!tutorial/figures/boxplot.png